/* Font Install */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
}

/* CSS Variable Color Variable */
:root {
    --normal-text: #FFFFFF;
    --green-text: #00FF88;
    --bg-deep: #1A0B2E;
    --bg-light: #230E3D;
    --card-color: rgba(53, 17, 101, 0.4);
    --btn-gradient-bg: linear-gradient(
        47.64deg,
        rgba(247, 233, 63, 1),
        rgba(251, 9, 180, 1),
        rgba(145, 0, 248, 1)
    );
    --text-gradient: linear-gradient(
        47.64deg,
        #F7E93F 0%,
        #FB09B4 50%,
        #9100F8 100%
    );
}
/* Common Style */

.common-btn {
    background-image: var(--btn-gradient-bg);
    color: var(--normal-text);
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    padding: 12px 18px;
    transition: 1s linear;
    cursor: pointer;
}
.common-btn:hover {
    background-image: linear-gradient(
        47.64deg,
        rgba(145, 0, 248, 1),
        rgba(251, 9, 180, 1),
        rgba(247, 233, 63, 1)
    );
    transition: 1s ease-in-out;
}

/* common Container Style */
.hero-container,
.about-container,
.tech-wave-container,
.feature-episode-container,
.host-container
 {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/* Header Style */
header {
    background-color: var(--bg-deep);
    border-bottom: 1px solid var(--bg-light);
}
/* Nav Style */
.nav-bar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.nav-bar h2 {
    color: var(--normal-text);
    font-size: 2.5rem;
}
.nav-bar ul {
    display: flex;
    list-style: none;
    color: var(--normal-text);
    gap: 20px;
}
/* .nav-bar ul li {} */
.nav-bar ul li a{
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.2rem;
    color: var(--normal-text);
}

.nav-bar button i {
    transition: transform 0.3s ease;
}
.nav-bar button:hover i {
    transform: scale(.7) rotate(45deg);
}


/* Hero Style */
.hero {
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 80vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6.3rem 2.5rem;
}

.hero-image {
    background-image: url('../assets/hero-circle.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 300px; 
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.hero-image img {
    width: 25%; 
    height: auto;
}

.hero-content h2 {
    font-size: 3.5rem;
    font-weight: 900;
    color: var(--normal-text);
    margin: 10px 0;
}

.hero-content p {
    font-size: 1rem;
    max-width: 600px;
    margin: 0 auto 25px;
    line-height: 1.5;
    font-weight: 300;
    color: var(--normal-text);
}

.hero-btn {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}

.hero-btn button:last-child {
    padding: 12px 24px;
    cursor: pointer;
    border-radius: 50px;
    border: 1px solid var(--green-text);
    background: transparent;
    color: var(--green-text);
    transition: 0.3s;
}

.hero-btn button:last-child:hover {
    background-color: var(--green-text);
    color: var(--bg-deep);
    font-weight: 900;
    border: 1px solid var(--bg-deep);
}

/* About Style */
.about {
    padding: 120px 0;
    background-color: #1A0C30;
}

.about-content h2 {
    font-size: 2.7rem;
    font-weight: 700;
    color: var(--normal-text);
    margin: 10px 0;
    text-align: center;
    margin-bottom: 32px;
}

.about-content p {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: var(--normal-text);
    text-align: center;
    margin-bottom: 30px;
}

.about-count {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-count h3 {
    font-size: 2.5rem;
    color: var(--green-text);
    font-weight: 900;
    margin-bottom: 8px;
}

.about-count p {
    font-size: 1rem;
    color: var(--normal-text);
    font-weight: 300;
}

/* End About Style */

/* Start Tech-Wave Style */
.tech-wave {
    background-color: var(--bg-light);
    padding: 120px 0;     
}

.tech-wave-container h2 {
    color: var(--normal-text);
    font-size: 2.5rem;
    margin-bottom: 1.9rem;
}

.tech-wave-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 0 auto;
    gap: 30px;
}

.tech-wave-content div {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: var(--card-color);
    text-align: left;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.tech-wave-content div img {
   max-width: 40px;
   max-height: 60px;
   margin-bottom: 1rem;
}
.tech-wave-content div h4 {
   font-size: 1.5rem;
   font-weight: 700;
   line-height: 2rem;
   color: var(--normal-text);
   margin-bottom: 1rem;
}
.tech-wave-content div p {
   font-size: 1rem;
   font-weight: 300;
   line-height: 1.5rem;
   color: var(--normal-text);
}

.premium-audio {
    grid-row: span 2;
    padding: 100px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}
.mobile-friendly {
    grid-column: span 2;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mobile-friendly img {
    width: 30px;
    height: 40px;
}


.global-community {
    grid-column: span 2;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.exclusive-intervier {
    grid-column: span 2;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rich-resources {
    grid-column: span 1;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rich-resources img {
    width: 40px;
    height: 40px;
}

/* End Tech-Wave Style */

/* Start Frature Episode Style */
.feature-episode {
    background-color: var(--bg-deep);
    padding: 120px 0;
}

.feature-episode-container h2 {
    color: var(--normal-text);
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.feature-episode-card {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 10px;
    width: 100%;
}

.episode-item {
    background-color: var(--bg-light);
    border-radius: 10px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.video-container {
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 16 / 9;
}

.video-container iframe {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    border: none;
}

.episode-info {
    padding: 24px;
    text-align: left;
    color: var(--normal-text);
}

.episode-info h4 {
    font-size: 1.4rem;
    margin-bottom: 12px;
    line-height: 1.2;
}

.episode-info p {
    color: var(--normal-text);
    font-size: 0.95rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 15px;
}

.duration {
    color: #00ff88 !important;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 0 !important;
}

/* End Frature Episode Style */


/* Footer Style */
.footer {
    background-image: url("../assets/footer-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 40vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-container h2 {
    font-size: 5rem;
    font-weight: 900;
    color: var(--normal-text);
    margin-bottom: 24px;
}

.text-gradient {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.social-media ul {
    display: flex;
    list-style: none;
    gap: 24px;
    justify-content: center;
    align-items: center;
    color: var(--normal-text);
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 32px;
}

.social-media ul li img {
    margin-right: 8px;
}

.footer-container p {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 300;
    color: var(--normal-text);
    margin-top: 20px;
}

/* For Responsive Sections */

/* Small devices Mobile */
@media screen and (max-width: 576px) {
    /* Common css */
    .mobile-display-hide {
        display: none;
    }
    /* Start Navbar style */
    .nav-bar {
        padding: 20px 20px;
    }
   .bar-icon i {
        font-size: 2rem;
        color: var(--normal-text);
        cursor: pointer;
        display: block;
    }
    /* End Navbar style */

    /* Start Hero Style */

    .hero {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;   
    }
    .hero-image {
        max-width: 180px;
    }
    /* End Hero Style */

    /* Start About style */
    .about-container {
        padding: 0px 30px;
    }

    .about-content h2 {
        font-size: 2.5rem;
    }

    .about-content p {
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 200;

    }

    .about-count {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 30px;
    }
    .count {
        width: 40%;
    }
    /* End About Style */

    /* Start Tech-Wave Style */
    .tech-wave-content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto; 
        width: 100%;
        padding: 0 20px;
        gap: 20px;
    }

    .tech-wave-content > div {
        grid-column: span 1 !important;
        grid-row: span 1 !important;
        width: 100%;
        min-height: auto;
        padding: 40px 30px !important;
    }

    .tech-wave-content div img {
        width: 40px;
        height: auto;
    }

    /* End Tech-Wave Style */

    /*  */
    .feature-episode-card{
        flex-direction: column;
        gap: 30px;
    }
    /* Start Footer Style */

    .footer {
        background-image: url("../assets/footer-mobile-bg.png");
        width: 100%;
        height: auto;

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat; 
        padding: 20px 20px;
    }
    .footer-container h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
    .footer-container p {
        font-size: .9rem;
        margin-bottom: 16px;
    }

    .social-media ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0;
        gap: 20px;
    }

    .social-media ul li {
        width: 40%; 
        text-align: center;
        margin-bottom: 10px;
    }
    /* End Footer Style */

}   

/* Medium devices Tab or Notebooks */
@media screen and (min-width: 577px) and (max-width: 992px) {
}

/* Large devices Laptop or desktop */
@media screen and (min-width: 993px) {
    /* Common style */
    .lg-display-hide {
        display: none;
    }
}