/* Font Install */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
}

/* CSS Variable Color Variable */
:root {
    --normal-text: #FFFFFF;
    --green-text: #00FF88;
    --bg-deep: #1A0B2E;
    --bg-light: #230E3D;
    --btn-gradient-bg: linear-gradient(
        47.64deg,
        rgba(247, 233, 63, 1),
        rgba(251, 9, 180, 1),
        rgba(145, 0, 248, 1)
    );
    --text-gradient: linear-gradient(
        47.64deg,
        #F7E93F 0%,
        #FB09B4 50%,
        #9100F8 100%
    );
}
/* Common Style */

.common-btn {
    background-image: var(--btn-gradient-bg);
    color: var(--normal-text);
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    padding: 12px 18px;
    transition: 1s linear;
    cursor: pointer;
}
.common-btn:hover {
    background-image: linear-gradient(
        47.64deg,
        rgba(145, 0, 248, 1),
        rgba(251, 9, 180, 1),
        rgba(247, 233, 63, 1)
    );
    transition: 1s ease-in-out;
}

/* Header Style */
header {
    background-color: var(--bg-deep);
}
/* Nav Style */
.nav-bar {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.nav-bar h2 {
    color: var(--normal-text);
    font-size: 2.5rem;
}
.nav-bar ul {
    display: flex;
    list-style: none;
    color: var(--normal-text);
    gap: 20px;
}
/* .nav-bar ul li {} */
.nav-bar ul li a{
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.2rem;
    color: var(--normal-text);
}

.nav-bar button i {
    transition: transform 0.3s ease;
}
.nav-bar button:hover i {
    transform: scale(.7) rotate(45deg);
}




/* Footer Style */
.footer {
    background-image: url("../assets/footer-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 412px;
    padding: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-container h2 {
    font-size: 5rem;
    font-weight: 900;
    color: var(--normal-text);
    margin-bottom: 24px;
}

.text-gradient {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.social-media ul {
    display: flex;
    list-style: none;
    gap: 24px;
    justify-content: center;
    align-items: center;
    color: var(--normal-text);
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 32px;
}
.social-media ul li img {
    margin-right: 8px;
}
.footer-container p {
    font-size: 1rem;
    line-height: 1.2rem;
    font-weight: 300;
    color: var(--normal-text);
    margin-top: 20px;
}


/* For Responsive Sections */
/* Small devices Mobile */
@media screen and (max-width: 576px) {
    /* Common css */
    .mobile-display-hide {
        display: none;
    }
    /* Navbar style */
    .nav-bar {
        padding: 20px 20px;
    }
   .bar-icon i {
        font-size: 2rem;
        color: var(--normal-text);
        cursor: pointer;
        display: block;
    }
    /* End */

    .footer {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        /* background-size: contain; */
    }
    .footer-container h2 {
        font-size: 4rem;
        margin-bottom: 20px;
    }
    .footer-container p {
        font-size: .9rem;
        margin-bottom: 16px;
    }
    .social-media ul {
        flex-wrap: wrap;
        font-size: .9rem;
        gap: 20px;
        font-weight: 300;
        margin-bottom: 32px;
    }
}

/* Medium devices Tab or Notebooks */
@media screen and (min-width: 577px) and (max-width: 992px) {
}

/* Large devices Laptop or desktop */
@media screen and (min-width: 993px) {
    /* Common style */
    .lg-display-hide {
        display: none;
    }
}